title {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(183, 128, 57);
}

button {
    background-color: black; color:aliceblue
}

img {
    margin-right: 250px;
    float: right;
    width: 350px;
}
