
h2{
    color:rgba(32, 68, 3, 0.699);
}
body {
    background-color:rgb(122, 163, 119);
}


button {
    background-color:rgb(71, 152, 57); 
    color:black;
}

img {
    float: right;
    width: 250px;
    margin-right: 100px;
}

header {
    background-color:  #56845f;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    
}
h1,h2{
    font-size:45px;
}

/*Tiimiliikme Kärt Tirinity järgi tehtud*/
section{
    width:60%;
    margin:20px auto;
    padding:20px;
    box-shadow:0 0 10px rgba(32, 68, 3, 0.699);
    border-radius:15px;
    overflow:hidden;
    background-color: #92c09b;
}



